/* COLORES */
/* LETRAS */
* {
  margin: 0px;
  padding: 0px; }

/* ClASES GENERALES */
.nav-nav {
  justify-content: flex-end; }

.icon {
  height: 7vh; }

.bg-blue {
  background-color: #007dc7;
  background-image: linear-gradient(270deg, #007dc7 0%, #a4e5fe 50%); }

.titulos__gral {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  width: auto;
  padding: 0.313rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  background-color: lightseagreen; }

.texto__gral {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 1rem; }

.flex__gral {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

body {
  background-color: #a4e5fe;
  position: relative; }

main {
  padding-bottom: 2rem; }

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  height: 2rem;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  background-color: #03aeca; }

.footer__texto {
  margin: 0px; }

.imgEstilo:hover {
  transform: scale(1.2); }

/* CLASES INDEX */
.seccion1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 103vh;
  width: 99.11vw;
  background-image: url(../recursos/wallpaper1.jpg); }
  .seccion1__texto {
    display: flex;
    text-align: center;
    width: 31.25rem;
    height: 10.625rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: black; }

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "uno dos tres" "cuatro cinco seis";
  justify-items: center;
  background-color: #007dc7;
  background-image: linear-gradient(0deg, #007dc7 0%, #a4e5fe 59%);
  gap: 1.25rem;
  margin-top: 1rem; }

.imgEstilo {
  width: 25vw;
  height: 30vh;
  border-style: solid;
  border-color: #03aeca; }

.grid__uno {
  grid-area: uno; }

.grid__dos {
  grid-area: dos; }

.grid__tres {
  grid-area: tres; }

.grid__cuatro {
  grid-area: cuatro; }

.grid__cinco {
  grid-area: cinco; }

.grid__seis {
  grid-area: seis; }

.newsletter {
  justify-content: center;
  align-items: center;
  padding-top: 2rem; }
  .newsletter__titulo {
    height: 1.875rem;
    font-family: "Poppins", sans-serif;
    color: white; }
  .newsletter__texto {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0px; }
  .newsletter__input {
    width: 30rem;
    height: 3rem; }
  .newsletter__boton {
    min-width: 130px;
    height: 40px;
    color: white;
    padding: 5px 10px;
    margin: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: #4433ff;
    z-index: 1; }
    .newsletter__boton:hover:after {
      width: 100%;
      left: 0; }
    .newsletter__boton:after {
      border-radius: 5px;
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      z-index: -1;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      background-color: #3a86ff;
      right: 0; }
    .newsletter__boton:active {
      top: 2px; }

/* CLASES DESTINOS */
.grid__container2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr); }

.cards {
  padding: 0.313rem; }
  .cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 80vh;
    padding: 1rem;
    background: rgba(0, 125, 199, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); }
  .cards__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.8rem;
    margin-top: 1rem; }
    .cards__text:hover {
      color: black; }

.key1-card {
  background-image: url("../recursos/salta.jpg");
  background-size: cover;
  display: flex;
  width: 40vw;
  height: 50vh;
  padding: 0.313rem; }

.key2-card {
  background-image: url("../recursos/cafayate.jpg");
  background-size: cover;
  display: flex;
  width: 40vw;
  height: 50vh;
  padding: 0.313rem; }

.key3-card {
  background-image: url("../recursos/misiones.jpg");
  background-size: cover;
  display: flex;
  width: 40vw;
  height: 50vh;
  padding: 0.313rem; }

.key4-card {
  background-image: url("../recursos/bariloche.jpg");
  background-size: cover;
  display: flex;
  width: 40vw;
  height: 50vh;
  padding: 0.313rem; }

.key5-card {
  background-image: url("../recursos/santa-fe.jpg");
  background-size: cover;
  display: flex;
  width: 40vw;
  height: 50vh;
  padding: 0.313rem; }

.key6-card {
  background-image: url("../recursos/ushuaia.jpg");
  background-size: cover;
  display: flex;
  width: 40vw;
  height: 50vh;
  padding: 0.313rem; }

/* CLASES GALERIA */
.grid__container3 {
  display: grid;
  grid: "uno dos tres cuatro" 1fr "uno dos tres cuatro" 1fr "uno cinco seis cuatro" 1fr "siete cinco seis ocho" 1fr / 1fr 1fr 1fr 1fr;
  gap: 0 1rem; }

.uno {
  grid-area: uno; }

.dos {
  grid-area: dos; }

.tres {
  grid-area: tres; }

.cuatro {
  grid-area: cuatro; }

.cinco {
  grid-area: cinco; }

.seis {
  grid-area: seis; }

.siete {
  grid-area: siete; }

.ocho {
  grid-area: ocho; }

.gallery {
  padding: 2rem 3rem 0 3rem; }
  .gallery:hover .gallery__image {
    filter: grayscale(1); }
  .gallery__link {
    overflow: hidden;
    transition: 1s; }
    .gallery__link:hover .gallery__image {
      filter: grayscale(0); }
    .gallery__link:hover .gallery__caption {
      opacity: 2; }
  .gallery__thumb {
    position: relative;
    margin: 0px; }
  .gallery__image {
    display: block;
    width: 100%;
    transition: .3s; }
    .gallery__image:hover {
      transform: scale(1.1); }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1rem 1rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s; }
  .gallery .logo {
    display: flex;
    flex-direction: column;
    justify-content: center; }

/* CLASES NOSOTROS */
.nosotros__avion {
  width: 99vw;
  padding: 1rem; }

.grid__container4 {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr); }

.nosotros__img2 {
  width: 40vw;
  height: 30vh;
  margin: 0 auto 1rem auto; }

.nosotros__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto 1rem auto;
  width: 25vw;
  height: 80vh; }

/* CLASES CONTACTO */
.contactos {
  margin-top: 3rem; }

.contactos__tarjetas {
  width: 100%;
  text-align: center; }

.contactos__info {
  background: #007dc7;
  padding: 2rem; }

.contactos__info .titulos {
  color: black;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif; }

.contactos__info .span {
  color: black;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  display: inline-block; }

.contactos__form .titulos {
  color: black;
  font-size: 3rem;
  font-style: "Poppins", sans-serif; }

.contactos__form .col-md-6.col-sm-6.col-xs-12 {
  padding-left: 0px; }

.contactos__form .contactos__form .input {
  margin-bottom: 0.3rem; }

.contactos__form .contactos__form textarea {
  height: 7rem; }

.contactos__form .contactos__form .input2 [type="submit"] {
  background: black;
  width: 9rem;
  border-color: black; }

.contactos__form .input {
  background: white none repeat scroll 0 0;
  border: 1px solid white;
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.25rem; }

.contactos__form .contactos__mensaje {
  display: inline-block;
  width: 100%;
  padding-left: 0; }

.entrada__texto textarea {
  background: white none repeat scroll 0 0;
  border: 1px solid white;
  width: 100%;
  height: 7.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem; }

.boton [type="submit"] {
  background: #fda40b none repeat scroll 0 0;
  color: white;
  display: inline-block;
  font-weight: 600;
  padding: 1rem 0;
  width: 9rem;
  margin-top: 0.8rem;
  font-size: 1rem; }

.boton [type="submit"]:hover {
  background: #007dc7;
  transition: all 0.4s ease-in-out 0s;
  border-color: #007dc7; }

.entrada__texto {
  color: #464646;
  text-transform: capitalize;
  font-size: 1rem; }

.contactos__form {
  display: inline-block;
  width: 100%;
  margin-top: 1.9rem; }

.contactos__form form {
  padding: 1.25rem 1rem 3.85rem; }

.contactos__mapa {
  margin-top: 6rem; }

/* ERROR 404 */
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24e0ff;
  color: #fff;
  font-size: 100%;
  font-family: "Poppins", sans-serif; }
  .error__titulo {
    text-align: center;
    font-size: 15em;
    font-weight: 100; }
  .error__texto {
    font-size: 2em;
    text-align: center;
    font-weight: 100; }
  .error__boton {
    align-items: center;
    text-align: center;
    width: 10vw;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #3a86ff;
    text-decoration: none; }
  .error__boton:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px; }
  .error__boton:hover:after {
    opacity: 1;
    right: 10px; }
  .error__boton:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s; }

/* EXTEND */
.grids, .grid__uno, .grid__dos, .grid__tres, .grid__cuatro, .grid__cinco, .grid__seis {
  align-self: center;
  justify-self: center; }

.fondo, .newsletter, .nosotros {
  background-color: #03aeca;
  background-image: linear-gradient(180deg, #007dc7 0%, #006798 100%); }

/* EXTEND */
/* MIXIN */
/* MIXIN */
.nav-title {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: white; }

.link-nav {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 0.6rem; }

/* LIGERAMENTE MAS GRANDE QUE NOTEBOOK */
@media (min-width: 1024px) and (max-width: 1624px) {
  .seccion1 {
    background-size: 150vw;
    height: 100vh;
    width: 100vw; }
    .seccion1__texto {
      padding: 5rem 0.3rem;
      text-align: center;
      width: 100vw;
      height: 15vh;
      margin: 0%;
      font-size: 40px; }
  .grid__container2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
    justify-content: space-between; }
    .grid__container2 .cards__card {
      height: 55vh; }
    .grid__container2 .cards__text {
      font-size: 1.3rem; }
  .grid__container3 {
    display: grid;
    grid: "uno dos" 1fr "uno tres" 1fr "cinco cuatro" 1fr "seis cuatro" 1fr / 1fr 1fr;
    gap: 2rem; }
  .gallery .logo {
    display: none; }
  .gallery {
    padding: 1rem; }
  .grid__container4 {
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center; }
  .nosotros__avion {
    width: 100vw;
    height: 40vh; }
  .nosotros__img {
    width: 40vw; }
  .nosotros__img2 {
    width: 40vw;
    height: 20vh; }
  .contactos {
    margin-bottom: 10rem; }
  .contactos__tarjetas {
    margin-bottom: 0.5rem; }
  .contactos__info {
    padding: 0.5rem 0.2rem; }
  .contactos__info .titulos {
    font-size: 1.5rem; }
  .contactos__info .span {
    font-size: 1rem; }
  .contactos__form h2 {
    text-align: center; }
  .contactos__form form {
    padding: 1.25rem 1rem 1rem; }
  .contactos__mapa {
    display: none; } }

/* NOTEBOOKS */
@media (min-width: 721px) and (max-width: 1023px) {
  .seccion1 {
    background-size: 300vw;
    height: 100vh;
    width: 100vw; }
    .seccion1__texto {
      padding: 5rem 0.3rem;
      text-align: center;
      width: 100vw;
      height: 15vh;
      margin: 0%;
      font-size: 35px; }
  .grid__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
    justify-content: space-between; }
  .imgEstilo {
    width: 45vw;
    height: 30vh; }
  .grid__container2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis"; }
  .cards__card {
    height: 55vh; }
  .cards__text {
    font-size: 1.3rem; }
  .key1-card {
    width: 40vw;
    height: 25vh; }
  .key2-card {
    width: 40vw;
    height: 25vh; }
  .key3-card {
    width: 40vw;
    height: 25vh; }
  .key4-card {
    width: 40vw;
    height: 25vh; }
  .key5-card {
    width: 40vw;
    height: 25vh; }
  .key6-card {
    width: 40vw;
    height: 25vh; }
  .grid__container3 {
    display: grid;
    grid: "uno dos" 1fr "uno tres" 1fr "cinco cuatro" 1fr "seis cuatro" 1fr / 1fr 1fr;
    gap: 2rem; }
  .gallery .logo {
    display: none; }
  .gallery {
    padding: 1rem; }
  .grid__container4 {
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center; }
  .nosotros__avion {
    width: 100vw;
    height: 30vh; }
  .nosotros__img {
    width: 80vw;
    height: 90vh; }
  .nosotros__img2 {
    display: none; }
  .contactos {
    margin-bottom: 10rem; }
  .contactos__tarjetas {
    margin-bottom: 0.5rem; }
  .contactos__info {
    padding: 0.5rem 0.2rem; }
  .contactos__info .titulos {
    font-size: 1.5rem; }
  .contactos__info .span {
    font-size: 1rem; }
  .contactos__form h2 {
    text-align: center; }
  .contactos__form form {
    padding: 1.25rem 1rem 1rem; }
  .contactos__mapa {
    display: none; } }

/* TABLET */
@media (min-width: 541px) and (max-width: 720px) {
  .nav-title {
    font-size: 1.9rem; }
  .link-nav {
    font-size: 1.5rem; }
  .seccion1 {
    background-size: 300vw;
    height: 100vh;
    width: 100vw; }
    .seccion1__texto {
      padding: 5rem 0.3rem;
      text-align: center;
      width: 100vw;
      height: 15vh;
      margin: 0%;
      font-size: 40px; }
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
    justify-content: space-between; }
  .imgEstilo {
    width: 80vw;
    height: 35vh; }
  .newsletter {
    height: 40vh; }
    .newsletter__titulo {
      height: 2vh;
      width: auto; }
    .newsletter__texto {
      height: auto;
      font-size: 20px; }
    .newsletter__input {
      width: 15rem;
      height: 3rem; }
  .grid__container2 {
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis"; }
  .cards__card {
    height: 55vh; }
  .cards__text {
    font-size: 1.3rem; }
  .key1-card {
    width: 80vw;
    height: 70vh; }
  .key2-card {
    width: 80vw;
    height: 70vh; }
  .key3-card {
    width: 80vw;
    height: 70vh; }
  .key4-card {
    width: 80vw;
    height: 70vh; }
  .key5-card {
    width: 80vw;
    height: 70vh; }
  .key6-card {
    width: 80vw;
    height: 70vh; }
  .cards__img {
    width: 90vw;
    height: 30vh;
    padding: 0.313rem; }
  .grid__container3 {
    display: grid;
    grid: "uno" 1fr "dos" 0.5fr "tres" 0.5fr "cuatro" 1fr "cinco" 0.5fr "seis" 0.5fr / 1fr;
    gap: 2rem; }
  .gallery .logo {
    display: none; }
  .gallery {
    padding: 1rem; }
  .grid__container4 {
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center; }
  .nosotros__avion {
    width: 100vw;
    height: 20vh; }
  .nosotros__img {
    width: 80vw;
    height: 70vh; }
  .nosotros__img2 {
    display: none; }
  .contactos__tarjetas {
    margin-bottom: 0.5rem; }
  .contactos__form h2 {
    text-align: center; }
  .contactos__form form {
    padding: 1.25rem 1rem 1rem; }
  .contactos__mapa {
    display: none; } }

/* CELULAR */
@media (min-width: 320px) and (max-width: 540px) {
  .nav-title {
    font-size: 1.5rem; }
  .link-nav {
    font-size: 1.4rem; }
  .nav-item {
    padding: 0 0 0.3rem 0; }
  .seccion1 {
    background-size: 100rem;
    background-position-x: -37rem;
    height: 70vh;
    width: 100vw; }
    .seccion1__texto {
      padding: 5rem 0.3rem;
      text-align: center;
      width: 100vw;
      height: 15vh;
      margin: 0%;
      font-size: 30px; }
  .grid__container {
    grid-template-rows: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
    gap: 0px; }
  .imgEstilo {
    width: 100vw;
    height: 30vh;
    padding: 1rem; }
  .newsletter {
    height: 40vh; }
    .newsletter__titulo {
      height: 2vh;
      width: auto; }
    .newsletter__texto {
      height: auto;
      font-size: 20px; }
    .newsletter__input {
      width: 15rem;
      height: 3rem; }
  .grid__container2 {
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
    align-self: center;
    justify-self: center; }
  .cards__card {
    height: 55vh; }
  .cards__text {
    font-size: 1.3rem; }
  .key1-card {
    width: 80vw;
    height: 70vh; }
  .key2-card {
    width: 80vw;
    height: 70vh; }
  .key3-card {
    width: 80vw;
    height: 70vh; }
  .key4-card {
    width: 80vw;
    height: 70vh; }
  .key5-card {
    width: 80vw;
    height: 70vh; }
  .key6-card {
    width: 80vw;
    height: 70vh; }
  .grid__container3 {
    display: grid;
    grid: "uno" 1fr "dos" 0.5fr "tres" 0.5fr "cuatro" 1fr "cinco" 0.5fr "seis" 0.5fr / 1fr;
    gap: 2rem; }
  .gallery .logo {
    display: none; }
  .gallery {
    padding: 1rem; }
  .titulos__gral {
    font-size: 2rem; }
  .texto__gral {
    padding: 0.5rem;
    font-size: 1.3rem;
    margin: 0px; }
  .grid__container4 {
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center; }
  .nosotros__avion {
    height: 19vh;
    width: 100vw; }
  .nosotros__img {
    width: 90vw;
    height: 70vh; }
  .nosotros__img2 {
    display: none; }
  .contactos__tarjetas {
    margin-bottom: 0.5rem; }
  .contactos__form h2 {
    text-align: center; }
  .contactos__form form {
    padding: 1.25rem 1rem 1rem; }
  .contactos__mapa {
    display: none; } }
