*{
    margin: 0px;
    padding: 0px;
}

/* ClASES GENERALES */
.nav-title{
    font-size:2rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

.icon{
    width:3vw;
    height:5vh;
}

.bg-blue{
    background-color:gray;
}

.nav-nav{
    justify-content: flex-end;
}

.link-nav{
    color: white;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
}

.titulos__gral{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    height: 3.125rem;
    width: auto;
    padding: 0.313rem;
    font-family:  'Poppins', sans-serif;
    font-size: 1.875rem;
    background-color: lightseagreen;
}

.texto__gral{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    font-size: 1.875rem;
    font-family:  'Poppins', sans-serif;
    text-align: center;
    background-color: #007dc7;
}

.flex__gral{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body{
    background-color: #a4e5fe;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:  'Poppins', sans-serif;
    font-size: 1.25rem;
    background-color: #03aeca;
}

.imgEstilo:hover{
    transform:scale(1.2);
}

/* CLASES GENERALES */

/* CLASES INDEX */
.seccion1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 103vh;
    width: 99.11vw;
    background-image: url(../recursos/wallpaper1.jpg);
}

.texto__seccion1{
    display: flex;
    text-align: center;
    width: 31.25rem;
    height: 10.625rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color:  black;
}

.grid__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "uno dos tres"
        "cuatro cinco seis";
    justify-items: center;
    background-color: aquamarine;
    gap: 1.25rem;
}

.imgEstilo{
    width: 25vw;
    height: 30vh;
    padding: 0.5rem;
}

.grid__uno{
    grid-area: uno;
    align-self: center;
    justify-self: center;
}

.grid__dos{
    grid-area: dos;
    align-self: center;
    justify-self: center;
}

.grid__tres{
    grid-area: tres;
    align-self: center;
    justify-self: center;
}

.grid__cuatro{
    grid-area: cuatro;
    align-self: center;
    justify-self: center;
}

.grid__cinco{
    grid-area: cinco;
    align-self: center;
    justify-self: center;
}

.grid__seis{
    grid-area: seis;
    align-self: center;
    justify-self: center;
}

.newsletter{
    justify-content: center;
    align-items: center;
    background-color: #007dc7;
}

.newsletter__titulo{
    margin-left:auto;
    margin-right: auto;
    height: 1.875rem;
    width: 8.125rem;
    font-family:  'Poppins', sans-serif;
}

.newsletter__texto{
    height: 6.25rem;
    font-size: 1.875rem;
    font-family:  'Poppins', sans-serif;
    text-align: center;
}

.input__index{
    width: 18.75rem;
    height: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.boton__index{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    background-color: whitesmoke;
}

.boton__index:hover{
    color:#007dc7;
}

/* CLASES INDEX */



/* CLASES DESTINOS */
.grid__container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "uno dos"
        "tres cuatro"
        "cinco seis"
    ;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.grid__img1{
    grid-area: uno;
}

.grid__img2{
    grid-area: dos;
}

.grid__img3{
    grid-area: tres;
}

.grid__img4{
    grid-area: cuatro;
}

.grid__img5{
    grid-area: cinco;
}

.grid__img6{
    grid-area: seis;
}

.cards{
    padding: 0.313rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color:salmon;
}

.card__img{
    display: flex;
    width: 40vw;
    height: 50vh;
    padding: 0.313rem;
}

.card__text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card__text:hover{
    color:#007dc7;
}
/* CLASES DESTINOS */

/* CLASES GALERIA */
.galeria{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.625rem;
    background-color: #007dc7;
}

.img__galeria{
    height: 60vh ;
    width: 30vw ;
}
/* CLASES GALERIA */

/* CLASES NOSOTROS */
.nosotros__avion{
    display: flex;
    flex-wrap: wrap;
    width: 99.1vw;
}

.nosotros__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* CLASES NOSOTROS */

/* CLASES CONTACTO */

.formulario{
    width:21.25rem;
    height:27.5rem;
    background-color: aquamarine;
    border-radius:0.5rem;
    box-shadow:0 0 40px -10px #000;
    margin:auto;
    padding:1.25rem 1.875rem;
    max-width:auto;
    box-sizing:border-box;
    position:relative
}

input{
    width:100%;
    padding:0.625rem;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    border-bottom:0.125rem solid #03aeca;
}

.boton__contacto{
    float:right;
    padding:0.5rem 0.75rem;
    margin:0.5rem 0 0;
    border:0.125rem solid #78788c;
    color: #007dc7;
}

/* CLASES CONTACTO */

/* MEDIA QUERIES */

/* TABLET */
@media (min-width: 541px) and (max-width: 720px) {
    
    .nav-title{
        font-size:1.9rem;
    }
    
    .icon{
        width:14vw;
        height:7vh;
    }

    .link-nav{
        font-size: 1.5rem;
    }


    .seccion1{
        background-size: 300vw;
        height: 100vh;
        width:100vw;
    }


    .grid__container{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis";
        justify-content: space-between;
    }

    .imgEstilo{
        width: 80vw;
        height: 35vh;
    }

    .newsletter{
        height: 25vh;
    }

    .newsletter__titulo{
        height: 2vh;
        width:auto;
    }

    .newsletter__texto{
        height:auto;
        font-size: 20px;
    }

    .grid__container2{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
        ;
    }

    .img__galeria{
        height: 60vh ;
        width: 100vw ;
    }

    .card__img{
        width: 90vw;
        height: 30vh;
        padding: 0.313rem;
    }

    .nosotros__avion{
        width: 110vw;
        height: 25vh;
    }
    
    .nosotros__img{
        height: 50vh;
        width: 110vw;
    }
}

/* CELULAR */
@media (min-width: 320px) and (max-width: 540px) {

    .nav-title{
        font-size:1.5rem;
    }
    
    .icon{
        width:12vw;
        height:6vh;
    }

    .link-nav{
        font-size: 1.2rem;
    }

    .seccion1{
        background-size: 68rem;
        height: 80vh;
        width:100vw;
    }

    .texto__seccion1{
    width: 100vw;
    height: 20vh;
    margin: 0%;
    font-size: 30px;
}


    .grid__container{
        grid-template-rows: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
            ;
        gap: 0px;
    }

    .imgEstilo{
        width: 100vw;
        height: 30vh;
        padding: 1rem;
    }

    .newsletter{
        height: 50vh;
    }

    .newsletter__titulo{
        height: 2vh;
        width:auto;
    }

    .newsletter__texto{
        height:auto;
        font-size: 20px;
    }

    .grid__container2{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
        ;
        align-self: center;
        justify-self: center;
    }

    .img__galeria{
        height: 40vh ;
        width: 80vw ;
    }

    .card__img{
        width: 70vw;
        height: 20vh;
        padding: 0.313rem;
    }

    .texto__gral{
        padding: 0.5rem;
        font-size: 1.3rem;
        margin: 0px;
    }

    .nosotros__avion{
        width: 100vw;
        height: 18vh;

    }
    
    .nosotros__img{
        height: 30vh;
        width: 100vw;
    }
}
