/* TABLET */
@media (min-width: 541px) and (max-width: 720px) {
    
    .nav-title{
        font-size:1.9rem;
    }
    
    .icon{
        width:14vw;
        height:7vh;
    }

    .link-nav{
        font-size: 1.5rem;
    }


    .seccion1{
        background-size: 300vw;
        height: 100vh;
        width:100vw;
    }


    .grid__container{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis";
        justify-content: space-between;
    }

    .imgEstilo{
        width: 80vw;
        height: 35vh;
    }

    .newsletter{
        height: 25vh;
        &__titulo{
            height: 2vh;
            width:auto;
        }
    
        &__texto{
            height:auto;
            font-size: 20px;
        }
    }


    .grid__container2{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
        ;
    }

    .galeria__img{
        height: 60vh ;
        width: 100vw ;
    }

    .cards__img{
        width: 90vw;
        height: 30vh;
        padding: 0.313rem;
    }

    .nosotros__avion{
        width: 110vw;
        height: 25vh;
    }
    
    .nosotros__img{
        height: 50vh;
        width: 110vw;
    }
}

/* CELULAR */
@media (min-width: 320px) and (max-width: 540px) {

    .nav-title{
        font-size:1.5rem;
    }
    

    .link-nav{
        font-size: 1.4rem;
    }

    .nav-item{
        padding: 0 0 0.3rem 0;
    }

    .seccion1{
        background-size: 100rem;
        background-position-x: -37rem;
        height: 70vh;
        width:100vw;
            &__texto{
            padding: 5rem 0;
            text-align: center;
            width: 100vw;
            height: 15vh;
            margin: 0%;
            font-size: 30px;
            }
    }


    .grid__container{
        grid-template-rows: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
            ;
        gap: 0px;
    }

    .imgEstilo{
        width: 100vw;
        height: 30vh;
        padding: 1rem;
    }

    .newsletter{
        height: 40vh;
        &__titulo{
            height: 2vh;
            width:auto;
            
        }
    
        &__texto{
            height:auto;
            font-size: 20px;
        }
    
        &__input{
            width: 15rem;
            height: 3rem;
        }
    }


    .grid__container2{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
        ;
        align-self: center;
        justify-self: center;
    }

    
    .cards{
        &__card{
            height: 55vh;
        }
        &__text{
            font-size: 1.3rem;
        }
    }

    @each $key, $destino in $destinos{
        .#{$key}-card {
            width: 80vw;
            height: 70vh;
        }
    }

    .galeria{
        height: 90vh;
        padding: 0px;
        &__img{
        height: 40vh ;
        width: 90vw ;
        }
    }

    .texto__gral{
        padding: 0.5rem;
        font-size: 1.3rem;
        margin: 0px;
    }

    .grid__container3{
        grid-template-columns: 1fr;
        align-self: center;
        justify-self: center;
    }

    .nosotros__avion{
        width: 100vw;
        height: 17vh;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
    }
    
    .nosotros__img{
        width: 90vw;
    }

    .nosotros__img2{
        display: none;
    }

    .contactos__tarjetas{
        margin-bottom: 0.5rem;
    }

    .contactos__form h2{
        text-align: center;
    }

    .contactos__form form {
        padding: 1.25rem 1rem 1rem;
    }

    .contactos__mapa{
        display: none;
    }

}
