@import 'variables';

*{
    margin: 0px;
    padding: 0px;
}

/* ClASES GENERALES */

.nav-nav{
    justify-content: flex-end;
}



.icon{
    width:3vw;
    height:5vh;
}

.bg-blue{
    background-color:gray;
}


.titulos__gral{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    height: 3.125rem;
    width: auto;
    padding: 0.313rem;
    font-family:  $texto-uno;
    font-size: 1.875rem;
    background-color: lightseagreen;
}

.texto__gral{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    font-size: 1.875rem;
    font-family: $texto-uno;
    text-align: center;
    background-color: $color-dos;
}

.flex__gral{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body{
    background-color: #a4e5fe;
    position: relative;
}

main{
    padding-bottom: 2rem;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    height: 2rem;
    justify-content: center;
    font-family:  $texto-uno;
    font-size: 1.25rem;
    background-color: $color-tres;
}

.footer__texto{
    margin: 0px;
}

.imgEstilo:hover{
    transform:scale(1.2);
}

.grids{
    align-self: center;
    justify-self: center;
}

/* CLASES GENERALES */

/* CLASES INDEX */
.seccion1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 103vh;
    width: 99.11vw;
    background-image: url(../recursos/wallpaper1.jpg);
    &__texto{
        display: flex;
        text-align: center;
        width: 31.25rem;
        height: 10.625rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        font-family:  $texto-uno;
        font-weight: 700;
        font-size: 4rem;
        color:  black;
        }
}


.grid__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "uno dos tres"
        "cuatro cinco seis";
    justify-items: center;
    background-color: $color-dos;
    background-image: linear-gradient(0deg, $color-dos 0%, #a4e5fe 59%);
    gap: 1.25rem;
    margin-top: 1rem;
}

.imgEstilo{
    width: 25vw;
    height: 30vh;
    border-style: solid;
    border-color:#03aeca;
}

.grid__uno{
    grid-area: uno;
    @extend .grids;
}

.grid__dos{
    grid-area: dos;
    @extend .grids;
}

.grid__tres{
    grid-area: tres;
    @extend .grids;
}
.grid__cuatro{
    grid-area: cuatro;
    @extend .grids;
}

.grid__cinco{
    grid-area: cinco;
    @extend .grids;
}

.grid__seis{
    grid-area: seis;
    @extend .grids;
}

.newsletter{
        justify-content: center;
        align-items: center;
        background-color: $color-dos;
        background-image: linear-gradient(180deg, $color-dos 0%, #006798 100%);
    &__titulo{
        height: 1.875rem;
        font-family:  $texto-uno;
        color: $color-uno;
    }
    &__texto{
        font-size: 2rem;
        font-family:  $texto-uno;
        color: $color-uno;
        text-align: center;
        justify-content: center;
        margin: 0px;
    }
    &__input{
        width: 30rem;
        height: 3rem;
    }
    &__boton{
        min-width: 130px;
        height: 40px;
        color: $color-uno;
        padding: 5px 10px;
        margin: 1rem;
        font-weight: bold;
    cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        background: #4433ff;
        z-index: 1;
    &:hover:after{
        width: 100%;
        left: 0;
    }
    &:after{
        border-radius: 5px;
        position: absolute;
    content: "";
        width: 0;
        height: 100%;
        top: 0;
        z-index: -1;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        transition: all 0.3s ease;
        background-color: #3a86ff;
        right: 0;
    }
    &:active{
        top: 2px;
    }
    }
}

/* CLASES INDEX */


/* CLASES DESTINOS */
.grid__container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "uno dos"
        "tres cuatro"
        "cinco seis"
    ;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.grid__img1{
    grid-area: uno;
}

.grid__img2{
    grid-area: dos;
}

.grid__img3{
    grid-area: tres;
}

.grid__img4{
    grid-area: cuatro;
}

.grid__img5{
    grid-area: cinco;
}

.grid__img6{
    grid-area: seis;
}

.cards{
    padding: 0.313rem;
        &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        height: 80vh;
        padding: 1rem;
        background: rgba( 0, 125, 199, 0.6 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 19px );
        -webkit-backdrop-filter: blur( 19px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        &__text{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family:  $texto-uno;
        color: $color-uno;
        font-size:2rem;
        margin-top: 1rem;
        &:hover{
            color:black;
        }
        }
}

/* CLASES DESTINOS */

/* CLASES GALERIA */
.galeria{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.625rem;
    height: 84.4vh;
    background-color: $color-dos;
    &__img{
        align-self: center;
        height: 70vh ;
        width: 35vw ;
    }
}

/* CLASES GALERIA */

/* CLASES NOSOTROS */
.nosotros{
    background-color: $color-dos;
}

.nosotros__avion{
    display: flex;
    flex-wrap: wrap;
    width: 99.1vw;
}

.nosotros__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;

}

/* CLASES NOSOTROS */

/* CLASES CONTACTO */

.contacto{
    height: 89.6vh;
}


.formulario{
    width:21.25rem;
    height:27.5rem;
    background-color: $color-cuatro;
    border-radius:0.5rem;
    box-shadow:0 0 40px -10px #000;
    margin:auto;
    padding:1.25rem 1.875rem;
    max-width:auto;
    box-sizing:border-box;
    position:relative
}

input{
    width:100%;
    padding:0.625rem;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    border-bottom:0.125rem solid $color-tres;
}

.boton__contacto{
    float:right;
    padding:0.5rem 0.75rem;
    margin:0.5rem 0 0;
    border:0.125rem solid #78788c;
    color: $color-dos;
}

/* CLASES CONTACTO */

/* MAP */
$destinos:(
    key1:salta,
    key2:cafayate,
    key3:misiones,
    key4:bariloche,
    key5:santa-fe,
    key6:ushuaia
);

@each $key, $destino in $destinos{
    .#{$key}-card {
        background-image: url('../recursos/#{$destino}.jpg');
        background-size: cover;
        display: flex;
        width: 40vw;
        height: 50vh;
        padding: 0.313rem;
    }
}
/* MAP */

/* EXTEND */
.grids{
    align-self: center;
    justify-self: center;
}
/* EXTEND */

/* MIXIN */
@mixin textoNavegacion ($size) {
    font-size:$size;
    font-weight: 400;
    text-decoration: none;
}
/* MIXIN */

.nav-title{
    @include textoNavegacion(2rem);
    color: $color-uno;
    margin-right: 3rem;
}
.link-nav{
    @include textoNavegacion(1.5rem);
    color: $color-uno;
    font-family: $texto-uno;
    padding: 10px;
    }

@import 'mediaqueries';